.hero-container {
    background-image: url(https://img.freepik.com/free-photo/tropical-product-background_53876-89491.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}